#App {
    width: min(95vw, 1200px);
    margin-inline: auto;
}

#AppHero {

    height: 100vh;
    max-height: min(900px, 100vh);
    background: url(../Assets/Images/mainHeroBg.png);
    /* background-color: black; */
    aspect-ratio: 1472/815;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    max-width: 100vw;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {}