#footer {
  display: grid;
  width: 100%;
}

#footerBanner {
  background: url(../Assets/Images/footerBG.png);
  width: 100%;
  height: fit-content;
  padding: 5em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #f3f3f4;
  text-align: center;
}

#footerBanner .quote{
  font-size: 2em;
}
#footerBanner .by{
  opacity: 0.8;
}
#footerBanner .button{
  background-color: #f3f3f4;
  padding: 0.5em 2em;
  border-radius: 0.5em;
  color: #222;
  text-align: center;
  cursor: pointer;
  width: fit-content;
  margin-inline: auto;
  margin-top: 2em;
}

#footerContent {
  display: flex;
  margin: 2em;
  /* padding-bottom: 1em; */
  padding: 0 2em 0 0;
  border-bottom: 1px solid #222;
  justify-content: space-between;
  align-items: center;
}

#footerContent .logo {
  justify-self: start;
}

#footerContent .socials,
#footerContent .links {
  display: flex;
  gap: 3em;
}

#footerContent .socials {
  justify-self: flex-end;
}

@media only screen and (max-width: 600px) {
  #footerContent .links {
    display: none;
  }

  #footerContent {
    display: flex;
    flex-direction: column;
  }
}